<div class="flex flex-column items-center justify-center mx-auto h-screen">
  <form class="rounded-lg"
    #myForm="ngForm"
    (ngSubmit)="submit()">
    <h2 class="text-center text-xl">
      Login
    </h2>
    <div>
      <label for="email">Email</label>
      <input id="email"
        class="p-2 mt-1 w-full rounded border-2 border-purple-800 border-opacity-100"
        type="email"
        name="email"
        placeholder="Email address"
        required
        pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
        #email="ngModel"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="form.email">
    </div>
    <div class="p-3 bg-red-200 text-red-500 rounded"
      [hidden]="email.valid || email.untouched">
      Email field must be valid
    </div>

    <div class="mt-2">
      <label for="password">Password</label>
      <input id="password"
        class="p-2 mt-1 w-full rounded border-2 border-purple-800 border-opacity-100"
        type="password"
        name="password"
        placeholder="password"
        required
        #password="ngModel"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="form.password">
    </div>
    <div class="p-3 bg-red-200 text-red-500 rounded"
      [hidden]="password.value || password.untouched">
        Password field must be valid
    </div>

    <div class="mt-6">
      <input class="py-3 px-2 w-full rounded border-2 border-none bg-purple-800 hover:bg-purple-900 text-white cursor-pointer"
        type="submit"
        value="Send"
        [disabled]="password.invalid || email.invalid">
    </div>
  </form>
</div>
