<li class="good">
    <!-- <div>
        {{ i + 1 }}
    </div> -->
    <div class="good__img-wrapper">
        <img [src]="itemGood.image"
        [alt]="itemGood.name"/>
    </div>
    <div class="good__info">
        <div class="good__info-text">
            {{ itemGood.name | titlecase }} by {{ itemGood.country | titlecase }}
        </div>
        <div class="good__info-price">
            {{ itemGood.price | currency: '₽' }}
        </div>
    </div>
    <ng-container *ngIf="!isInCart">
      <button class="good__btn button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4"
        data-ripple-light="true"
        (click)="addToCart()">
          Add to cart
      </button>
    </ng-container>

    <ng-container *ngIf="isInCart">
      <button class="good__btn button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4"
        (click)="removeFromCart()">
          Remove from cart
      </button>
    </ng-container>
</li>
