<h2>Programming product list</h2>

<button (click)="handleClick()">
    <ng-container *ngIf="!isShowing">Show goods</ng-container>
    <ng-container *ngIf="isShowing">Hide goods</ng-container>
</button>

<!-- <input type="text"
  [(ngModel)]="name"/> -->

<p>{{ name }}</p>

<ng-container *ngIf="isShowing">
    <ul>
        <ng-container *ngFor="let item of goods; let i = index;">
            <li>
                <div>
                    <img [src]="item.image" 
                      width="100"
                      [alt]="item.good"/>
                </div>
                <div>
                    {{ i + 1 }} <span>{{ item.good }} by {{ item.country }}</span>
                </div>
            </li>
        </ng-container>
    </ul>
</ng-container>


